button{
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    margin: 20px;
    font-size: large;
    text-shadow: 1px 1px 1px;
}

i{
    margin-left: 10px;
}
button:hover{
    background-color: rgb(80, 185, 185);
}