
#outer{
    position: relative;
  background-color: rgb(43, 99, 77);  
  width: 50vw; /* Full viewport width */
  height: 50vh; /* Full viewport height */
}
#inner{
    position: absolute;
    background-color: rgb(179, 211, 131);
    width: 30%;
    height: 30%;
    margin-top: 20px;
}